/* CSS Document */
/*共用*/
.common_account_box label{ padding:10px 0; display:block;}
.common_account_box .reg_text{ display:block; height:40px; line-height:40px; width:100%; vertical-align: middle; border:1px solid #bebebe; font-size:14px; text-indent:10px;}
.common_account_box dl{ border:1px solid #bababa; margin-top:10px;}
.common_account_box dl dt,.common_account_box dl dd{ padding-bottom:10px; padding-top:10px;}
.common_account_box dl dt{ border-bottom:1px solid #bababa;}
.common_account_box dl dt.no_bor_bottom{ border-bottom:0px;}

.common_account_box .common_dl dt,.common_account_box .common_dl dd{ padding-left:10px; padding-right:10px;}
.common_account_box .common_dl dt{ line-height:22px;}
.common_account_box .common_dl p{color:#6e6e6e; line-height:25px;}
.common_account_box .common_dl dd p span{ float:right;}


/*注册与登入*/
.common_account_box .forgot_password{ display:block; text-align:center; color:#898989; padding-top:24px;}
.common_account_box .login_box .otheraccount_login{ width:90%; margin:0 auto;}
.common_account_box .login_box .otheraccount_login a{ display:block;  height:50px; line-height:50px; color:#4f4f4f; margin-top:12px; text-align: center;}
.common_account_box .login_box .otheraccount_login a img{ height:50px; vertical-align:top;}
.common_account_box .login_box .otheraccount_login a span{ text-align:center; display:block;}
.common_account_box .login_box .common_btn2{ margin-top:10px;}


/*第三方注册共用标题*/
.common_account_box .account_nav{ height:35px; border-bottom:1px solid #bdbdbd; margin-bottom:5px;}
.common_account_box .account_nav a{ display:block; float:left; width:49.8%; text-align:center; position:relative;}
.common_account_box .account_nav a.on{ color:#e42939;}
.common_account_box .account_nav a.bor_rt{ border-right:#b4b4b4 1px solid;}
.common_account_box .account_nav a.bor_lf{ border-left:#e8e8e8 0px solid;}
.common_account_box .account_nav a.on i{ position:absolute; left:50%; bottom:-26px; background-position:-136px -130px; width:13px; height:8px;}

/*忘记密码*/
.common_account_box .forget_box h3{ color:#1b1b1b; text-indent:15px; font-weight:normal; font-size:15px; height:25px;}
.common_account_box .forget_box .veri_code_box{ position:relative; padding-right:240px;}
.common_account_box .forget_box .veri_code_box .veri_code{ position:absolute; right:0; top:0; width:220px; height:80px;}

/*我的账号管理首页myaccount*/
.common_account_box .myaccount ul{ border:1px solid #aaaaaa; margin-top:10px;}
.common_account_box .myaccount ul li{ height:45px; line-height:45px; border-bottom:1px solid #aaaaaa; padding:0 15px;}
.common_account_box .myaccount ul li.last{border-bottom:0;}
.common_account_box .myaccount ul li a{ display:block;}
.common_account_box .myaccount ul li a i{ width:11px; height:16px; background-position:-139px -48px; float:right; margin-top:14px;}


/*我的订单列表myolder*/
.common_account_box .myolder_list dt{ padding:10px;}
.common_account_box .myolder_list dt.last{ border-bottom:0;}
.common_account_box .myolder_list h4{ font-weight:normal; font-size:16px; padding-bottom:5px;}
.common_account_box .myolder_list .order_pro_info{ position:relative; padding-left:90px; line-height:18px;}
.common_account_box .myolder_list .order_pro_info .pic{ width:84px; height:84px; display:table-cell; text-align:center; vertical-align:middle; position:absolute; left:0; top:2px;}
.common_account_box .myolder_list .order_pro_info .pic img{ max-width:84px; max-height:84px;}
.common_account_box .myolder_list .order_pro_info span{ display:block;height: 22px;line-height: 22px;}
.common_account_box .myolder_list .order_pro_info span.red{ color:#fb1414;}
.common_account_box .myolder_list .order_pro_info span.data{ color:#7f7f7f;}
.common_account_box .myolder_list .order_pro_info i{ width: 11px;height: 16px;position: absolute;top: 50%;margin-top: -8px;right: 0;background-position: -139px -48px;}

/*我的资料myprofile*/
.common_account_box .myprofile_box p{ padding-bottom:10px;}
.common_account_box .myprofile_box .reg_text{ border-radius:0;}
.common_account_box .myprofile_box label{ padding:5px 0;}
.common_account_box .myprofile_box .gender .gender_txt{ display:inline-block;}
.common_account_box .myprofile_box .select_city{ position:relative; cursor:pointer;}
.common_account_box .myprofile_box .select_city_txt{ height:38px; border:1px solid #bebebe; padding:0 10px; line-height:38px; position:relative; color:#888888;}
.common_account_box .myprofile_box .select_city_txt i{ background-position:-141px -142px; width:9px; height:6px; float:right; margin-top:16px;}

/*我的订单详情orderinfo*/
.common_account_box .order_info dl{ padding:0 10px;}
.common_account_box .order_info dl dt,.common_account_box .order_info dl dd{ padding:10px 0;}
.common_account_box .order_info dl dt{ border-bottom:1px solid #bababa;}
.common_account_box .order_info dl dd table{ width:100%; color:#8c8c8c;}
.common_account_box .order_info dl dd table td{ padding:4px 0;}
.common_account_box .order_info dd p{ padding-bottom:10px;}
.common_account_box .order_info dd p span{ display:block; color:#8c8c8c; padding-top:6px;}
/*.common_account_box .order_info .order_pro dd{overflow:hidden;}*/
.common_account_box .order_info .order_pro dd .name{ color:#282828;}
.common_account_box .order_info .order_pro dd .pic{ float:left; width:80px; height:95px; display:table-cell; text-align:center; vertical-align:middle;margin-right: 10px;}
.common_account_box .order_info .order_pro dd .pic img{ max-width:80px; max-height:80px;}
.common_account_box .order_info .order_pro dd .price{ padding:5px 0;}
.common_account_box .order_info .order_pro dd .qty{ color:#929292;}
.common_account_box .order_info .order_price{ margin-top:15px; color: #626262;}
.common_account_box .order_info .order_price p{ font-size:14px; margin-bottom:10px;}
.common_account_box .order_info .order_price span{ float:right;}

/*更改密码*/
.common_account_box .password_box_con .common_btn2{ margin-top:15px;}

/*我的地址myaddressbooks*/
.common_account_box .myaddressbooks dl{ padding:0 15px; position:relative;}
.common_account_box .myaddressbooks dl p{ color:#8c8c8c; line-height:18px;}
.common_account_box .myaddressbooks dl span.close_btn{ position:absolute; right:15px; top:50%; background-color:#ed3444;}

/*我的存储地址mybilingaddress*/
.common_account_box .mybilingaddress p{ color:#aaaaaa; font-size:40px; text-align:center; line-height:4;}

/*我的优惠券mycoupon*/
.common_account_box .mycoupon dt{ line-height:20px;}
.common_account_box .mycoupon dt i{ width:21px; height:21px; background-position:-32px -51px; margin:0 5px -6px 0;}
.common_account_box .mycoupon dt i.throw{ background-position:-126px -102px; float:right;}

/*我的信息mymessage*/
.common_account_box .mymessage dl{ position:relative;}
.common_account_box .mymessage dl span{ color:#bdbdbd; display:block;}
.common_account_box .mymessage dl i{position:absolute;}

/*我的信用卡mycredit*/
.common_account_box .mycredit .total{ height:50px; text-align:center; line-height:30px; font-size:18px;}
.common_account_box .mycredit dt{ line-height:22px;}
.common_account_box .mycredit dt i{ width:22px; height:22px; background-position:-90px 0; margin:0 5px -7px 0;}
.common_account_box .mycredit dt i.throw{ background-position:-90px -22px; }

/*我的成长mygrowth*/
.common_account_box .mygrowth .total{ height:50px; text-align:center; line-height:30px; font-size:18px;}
.common_account_box .mygrowth dt i{ width:22px; height:22px; background-position:-34px -120px;  margin:0 5px -7px 0;}



.common_account_box .account_select1{width:100%;height:35px;}


.common_account_box .no_result_top{font-size:30px;font-weight:bold;text-align:center;padding:140px 0;color:#aaa}

.email_tips{border:1px solid #ccc;color:#999;padding:150px 10px;margin-bottom:20px;text-align:center;line-height:40px;margin:0 10px;}



/*我的详细信息mymessageview*/
.common_account_box .mymessageview dd p{ color:#1d1d1d;}
.common_account_box .mymessageview dd p span{ float:none; color:#828282;}
.common_account_box .mymessageview dd p span.cont{ line-height:18px}
.common_account_box .mymessageview table td{ padding:4px 2px; vertical-align:top; }
.common_account_box .mymessageview table label{ padding:0 0 5px 0;}
.common_account_box .mymessageview table textarea{ border:1px solid #b9b9b9; min-height:120px;width:100%}
.common_account_box .mymessageview table .input_txt{  height:28px; text-align:center; line-height:28px; border:1px solid #a2a2a2;}
.common_account_box .mymessageview table .common_btn2{ height:33px; line-height:33px; font-size:14px; font-weight:normal;}



.trackingorder input {border: none;height: 24px;line-height: 24px;text-indent: 10px;width: 100%;color: #999;font-size: 16px;border: 1px #CCC solid;height: 50px;background: #FFF;margin-bottom: 15px;}

/*add*/
.tracking_no {font-size: 14px; color: #0967E1;}
.account_trackingorderdetail .pic{margin-right:10px;}
.account_trackingorderdetail .totalprice span{float:right;}


.account_messagedetail li{display:block; line-height:30px;}
.account_messagedetail li span.must{color:#F00; font-weight:bold;}
.account_messagedetail label{color:#333; display:inline}
.account_messagedetail input{border: none;height: 40px;line-height: 40px;text-indent: 10px;width: 100%;color: #999;font-size: 16px;}
.account_messagedetail input.codeno{ border: 1px #CCC solid;width:35%; float:left; margin-right:10px;height: 40px;}
.account_messagedetail textarea{border:1px #C9C9C9 solid; height:150px; line-height:40px; padding:0px; width:100%;}
.account_leavemessage input.codeno{text-indent: 10px; border: 1px #CCC solid;width:35%; float:left; margin-right:10px;height: 40px; line-height: 40px;}

.common_che_box{margin: 2px 4px 0 0; display: block; float: left;}
.account_orderdetail .order_pro .bor_bottom{border-bottom: 1px solid #bababa;}
.account_orderdetail .order_pro dd{min-height: 85px;}
.account_leavemessage .remark{border: 1px #C9C9C9 solid; height: 150px;line-height: 25px;padding:5px 0 0;text-indent: 10px;width: 100%;font-size:14px;}
.account_messagedetail .remark{border: 1px #C9C9C9 solid; height: 150px;line-height: 25px;padding:5px 0 0;text-indent: 10px;width: 100%;font-size:14px;}
.account_messagedetail .no_mar{margin: 0px;}

ul.ordersummary{display:block;}
ul.ordersummary li{padding:10px; min-height: 84px; border-bottom:1px #C5C5C5 solid; display:block; overflow:hidden; position:relative;}
ul.ordersummary li a.pic{width:84px; float:left; padding-right:10px; position:absolute; left:10px; top:10px;}
ul.ordersummary li a.pic img{max-width:84px;}
ul.ordersummary li .product_info{margin-left:90px; line-height:22px; font-size:12px; color:#999;}
ul.ordersummary li .product_info a.name{display:block; font-size:14px;}
ul.ordersummary li .product_info span.price{color:#C70B0B; font-size:13px; display:block;}
ul.ordersummary li .product_info span.price strong{font-size:14px;}
ul.ordersummary li .product_info span.oldprice{color:#999; font-size:13px; display:block; text-decoration:line-through;}
ul.ordersummary li .remove{position: absolute;right: 20px;top: 75px;background-color: #ed3444;}
ul.ordersummary li a.review_btn{width:110px; height:30px; background: #D33C37; border: 1px #A02D2D solid; color: #FFF; text-align: center; line-height: 30px; position:absolute; right:10px; top:30px; display:block;}

.step_box{ padding:20px 0 0 10px;}
.time_box{ z-index:999; position:relative;}
.time_step{ border-left:2px solid #e5e5e5; }
.time_step li{ position:relative; padding:0 0 0 12px;}
.step_icon_arrive,.step_icon{ background-image:url("img/icon3.png"); background-repeat:no-repeat; width:15px; height:15px; display:block; position:absolute; left:-8px; top:-1px; background-size:30px 30px;}
.step_icon_arrive{ background-position:0 0;}
.step_icon{ background-position:3px -18px;}
.time_step .time_arrive,.time_step .status_arrive{ color:#16b246;}
.time_step .time{ color:#ff7800;}
.time_step .status_arrive{ line-height:3;}
.time_step .status{line-height:2;margin: 5px 0;}
.on_status{ display:inline-block; width:12px; height:10px; background:url("img/step_icon.png") no-repeat; background-size:12px 10px; vertical-align:middle;}

.common_account_box .myaccount ul.no_mar_top,.common_account_box dl.no_mar_top,.common_account_box dl.no_mar_top,.common_account_box dl.no_mar_top,.common_account_box dl.no_mar_top,.common_account_box dl.no_mar_top,.common_account_box dl.no_mar_top,.account_trackingorderdetail dl.no_mar_top,.account_trackno dl.no_mar_top{margin-top:0px;}
.common_account_box label.no_pad_top,.common_account_box .myprofile_box label.no_pad_top,.common_account_box label.no_pad_top{ padding-top:0px;}
.account_mymessage .no_borderm,.account_trackno .no_border{border:0px;}

.user_forgetpassword .forget_box p{margin-bottom:10px;}
.user_email .email_tips{border:1px solid #ccc;color:#999;padding:150px 10px;margin-bottom:20px;text-align:center;line-height:25px;margin:0 10px;}

.account_orderdetail .num{margin-bottom:5px;}

.account_trackingorderdetail .order_pro .bor_bottom{border-bottom: 1px solid #bababa;}
.account_trackingorderdetail .order_pro dd{min-height: 85px;}
.account_trackingorderdetail .account_box_pay{margin-bottom:10px;}

.mymessageview .content{ background:#fff; border-radius:5px; padding:12px 15px 0px 15px; color:#464646;}
.mymessageview .content p{ padding:7px 0 12px 0;}
.mymessageview .time_tit{ font-size:14px; padding:5px 0; color:#aaa;}
.mymessageview .time_tit span{ color:#26af4c;}
.mymessageview .line{ position:relative; border-bottom:1px solid #b8b8b8; padding-top:6px;}
.mymessageview .line span{ display:block; position:absolute;}
.mymessageview .arr{ border-color:transparent transparent #b8b8b8 transparent; border-style:solid; border-width:0 7px 7px 7px; height:0; width:0; left:20px; top:0;}
.mymessageview .inner_arr{ border-color:transparent transparent #fff transparent; border-style:solid; border-width:0 6px 6px 6px; height:0; width:0; left:21px; top:1px;}
.mymessageview .content p{ font-size:14px;}
.mymessageview .message_title p{ font-size:15px; padding-bottom:0;word-break: break-all;word-wrap: break-word;}
.mymessageview .content h3 span{ font-size:16px; color:#e20411; padding-right:3px;}
.mymessageview .text{ padding:10px 0px; border:1px solid #bebebe; margin:6px 0; border-radius:2px; min-height:120px; width:100%;font-size: 14px;}
.mymessageview .content table td{ padding:5px 8px 5px 0;}
.mymessageview .code_txt{ border:1px solid #bebebe; width:90px; height:22px; padding:5px; border-radius:2px;}
.mymessageview .code{ width:108px; height:33px; background:url("img/code.png") no-repeat top center; background-size:109px 33px; display:block; cursor:pointer;}
.mymessageview .submit_btn{ width:80px; height:30px; color:#fff; font-size:14px; line-height:30px; text-align:center; background:#d33c37; border:1px solid #a02d2d; border-radius:2px; cursor:pointer; }

.user_email .success_icon i{background-position: 0 -25px;width: 25px;height: 25px;background: url("img/paymenticon.png") #5ed774 no-repeat;background-size: 25px 75px;border-radius: 50%;float: left;margin-left:20px;}

.user_register input.codeno{text-indent: 10px; border: 1px #CCC solid;width:35%; float:left; margin-right:10px;height: 40px; line-height: 40px;}

.user_register_api .account_nav{background: #f9f9f9;height: 45px;border-bottom: 1px solid #bdbdbd;border-top: 1px solid #bdbdbd;margin: 5px 0;line-height: 20px;}
.user_register_api .account_nav a.on{height: 34px;margin-top: 15px;color: #ea361a;border-bottom: 2px solid #ea361a;border-right:0px;}
.user_register_api .account_nav i {border-right: #b4b4b4 1px solid;display: block;width: 1px;float: left;height: 17px;margin-top: 15px;}
.user_register_api .account_nav a{height: 34px;margin-top: 15px;border:0px;width:49.6%;}
.user_register_api .account_nav a.bor_rt{border-right:0px;}
.user_register_api input.codeno{text-indent: 10px; border: 1px #CCC solid;width:35%; float:left; margin-right:10px;height: 40px; line-height: 40px;}
