.mobile-zoom {
	position: fixed;
	background: url("img/waiting.gif") center center #000 no-repeat;
	background-size: 16px 16px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 9999;
}
.mobile-zoom .mobile-zoom-close, .mobile-zoom-control span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 28px;
	padding: 5px 12px;
	font-family: Arial;
	text-align: center;
	z-index: 9999;
	background: #000;
	border-radius: 4px;
	vertical-align: middle;
	opacity: 0.8;
	color: #fff;
}
.mobile-zoom-close {
	position: fixed;
	top: 5px;
	right: 5px;
}
.mobile-zoom-inner {
	position: absolute;
	/*background: #000;*/
	overflow: hidden;
}
.mobile-zoom-inner img.mobile-zoom-img {
	position: absolute;
	z-index: 9998;
	margin: 0;
	padding: 0;
}
.mobile-zoom-control {
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 9999;
}
.mobile-zoom-control span {
	margin-left: 5px;
}
.mobile-zoom-control span.mobile-zoom-info {
	font-size: 20px;
	color: #ccc;
}
/*
.mobile-zoom-control span.mobile-zoom-lock {
	color: #f2f2f2;
	opacity: 0.5;
}
*/