@charset "utf-8";
@import "system.css";
/*加载其他CSS 会员 */
@import "member.css";
/*加载其他CSS 购物车 */
@import "cart.css";
/* CSS Document */
@import "template.css";

/*site notice*/
#site_notice{position:fixed !important; position:absolute; left:20px; right:20px; margin:auto; top:30%; border:1px solid #e3e3e3; box-shadow:0 0 3px 0 rgba(0,0,0,0.7); z-index:9999; background:#fff;}
#site_notice .site_notice_close{ width:22px; height:22px; position:absolute; right:-7px; top:-7px; background:#fff url("img/site_notice_close.png") no-repeat center; background-size:22px 22px; border-radius:50%; box-shadow:0 1px 3px 0 rgba(0,0,0,0.7); cursor:pointer;}
#site_notice .site_notice_title{ border-bottom:#e2e2e2 1px solid; background:#f7f7f7; color:#171717; line-height:40px; text-indent:20px; font-size:14px;}
#site_notice .site_notice_content{ padding:10px 20px;}