.touchcarousel{position:relative;overflow:hidden;}
.touchcarousel .touchcarousel-container{position:relative;margin:0;padding:0;list-style:none;left:0;}
.touchcarousel .touchcarousel-container img{display:block;margin:0 auto;width:100%;}
.touchcarousel .touchcarousel-wrapper{position:relative;overflow:hidden;width:100%;height:100%;}



.touchcarousel .touchcarousel-item{margin:0 0 0 0;padding:0;float:left;}
.touchcarousel .touchcarousel-item.last{margin-right:0 !important;}

.touchcarousel .arrow-holder{height:100%;width:45px;position:absolute;top:0;display:block;cursor:pointer;z-index:25;}
.touchcarousel .arrow-holder.left{left:0;}
.touchcarousel .arrow-holder.right{right:0;}
.touchcarousel .arrow-icon{width:45px;height:90px;top:50%;margin-top:-45px;position:absolute;cursor:pointer;}
.touchcarousel .arrow-icon.left{}
.touchcarousel .arrow-icon.right{}
.touchcarousel .arrow-holder:hover .arrow-icon{}
.touchcarousel .arrow-holder.disabled{cursor:default;}
.touchcarousel .arrow-holder.disabled .arrow-icon{cursor:default;}

.touchcarousel .tc-paging-container{width:100%;overflow:hidden;position:absolute;margin-top:-20px;z-index:25;}
.touchcarousel .tc-paging-centerer{float:left;position:relative;left:50%;}
.touchcarousel .tc-paging-centerer-inside{float:left;position:relative;left:-50%;}
#carousel .tc-paging-container{margin-top:-25px;}
.touchcarousel .tc-paging-item{float:left;cursor:pointer;position:relative;display:block;text-indent:-9999px;}
#carousel .tc-paging-item{height:10px;width:10px;border-radius:100%;background-color:#704d43;margin-right:5px;}
.touchcarousel .tc-paging-item.current{}#carousel .tc-paging-item.current{background-color:#ed6d00;}
.touchcarousel .tc-paging-item:hover{}

.touchcarousel .scrollbar-holder{position:absolute;z-index:30;left:6px;right:6px;bottom:5px;height:4px;overflow:hidden;}
.touchcarousel .scrollbar{position:absolute;left:0;height:4px;bottom:0px;}
.touchcarousel .scrollbar.dark{background-color:rgb(130,130,130);background-color:rgba(0,0,0,0.5);}
.touchcarousel .scrollbar.light{background-color:rgb(210,210,210);background-color:rgba(255,255,255,0.5);}

.touchcarousel .auto-cursor{cursor:auto;}
.list_carousel .touchcarousel-item{width:110px !important;margin:0 10px 0 0;min-width:0;}
.list_carousel .item a.picture{display:block;width:110px;}