@font-face {
	font-family: 'icomoon';
	src:url("fonts/icomoon.eot--l9n50a");
	src:url("fonts/icomoon.eot-#iefix-l9n50a") format('embedded-opentype'),
		url("fonts/icomoon.woff--l9n50a") format('woff'),
		url("fonts/icomoon.ttf--l9n50a") format('truetype'),
		url("fonts/icomoon.svg--l9n50a#icomoon") format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-suopingweishoucang2:before {
	content: "\e60b";
}

.icon-iconfont-xihuanxx:before {
	content: "\e640";
}

.icon-iconfont-search2:before {
	content: "\e641";
}

.icon-iconfont-search1:before {
	content: "\e642";
}

.icon-iconfont-yonghumingzhuanhuan:before {
	content: "\e643";
}

.icon-iconfont-yonghumingzhuanhuan2:before {
	content: "\e644";
}

.icon-iconfont-home .path1:before {
	content: "\e639";
	color: rgb(39, 38, 54);
}
.icon-iconfont-home .path2:before {
	content: "\e63a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-iconfont-home3:before {
	content: "\e63b";
}

.icon-iconfont-gouwuche7:before {
	content: "\e63c";
}

.icon-iconfont-iconfont601:before {
	content: "\e63d";
}

.icon-user:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e601";
}

.icon-search:before {
	content: "\e602";
}

.icon-cart:before {
	content: "\e603";
}

.icon-help:before {
	content: "\e604";
}

.icon-favorite:before {
	content: "\e605";
}

.icon-Reviews:before {
	content: "\e606";
}

.icon-right:before {
	content: "\e607";
}

.icon-right2:before {
	content: "\e608";
}

.icon-right3:before {
	content: "\e609";
}

.icon-time:before {
	content: "\e60a";
}

.icon-home2:before {
	content: "\e60c";
}

.icon-user2:before {
	content: "\e60d";
}

.icon-search2:before {
	content: "\e60e";
}

.icon-cart2:before {
	content: "\e60f";
}

.icon-help2:before {
	content: "\e610";
}

.icon-user3:before {
	content: "\e611";
}

.icon-cart3:before {
	content: "\e612";
}

.icon-categories:before {
	content: "\e613";
}

.icon-user4:before {
	content: "\e614";
}

.icon-Order:before {
	content: "\e615";
}

.icon-favorite2:before {
	content: "\e616";
}

.icon-Ordersearch:before {
	content: "\e617";
}

.icon-cart4:before {
	content: "\e618";
}

.icon-recently:before {
	content: "\e619";
}

.icon-help3:before {
	content: "\e61a";
}

.icon-cart5:before {
	content: "\e61b";
}

.icon-home3:before {
	content: "\e61d";
}

.icon-user6:before {
	content: "\e61e";
}

.icon-search3:before {
	content: "\e61f";
}

.icon-cart6:before {
	content: "\e620";
}

.icon-help4:before {
	content: "\e621";
}

.icon-favorite3:before {
	content: "\e622";
}

.icon-cart7:before {
	content: "\e623";
}

.icon-home4:before {
	content: "\e624";
}

.icon-user7:before {
	content: "\e625";
}

.icon-search4:before {
	content: "\e626";
}

.icon-cart8:before {
	content: "\e627";
}

.icon-help5:before {
	content: "\e628";
}

.icon-categories2:before {
	content: "\e629";
}

.icon-search5:before {
	content: "\e62a";
}

.icon-home5:before {
	content: "\e62c";
}

.icon-cart9:before {
	content: "\e62e";
}

.icon-favorite4:before {
	content: "\e630";
}

.icon-recently2:before {
	content: "\e631";
}

.icon-materials:before {
	content: "\e632";
}

.icon-help6:before {
	content: "\e633";
}

.icon-home6:before {
	content: "\e634";
}

.icon-cart10:before {
	content: "\e635";
}

.icon-user9:before {
	content: "\e636";
}

.icon-search6:before {
	content: "\e637";
}

.icon-favorite5:before {
	content: "\e638";
}

